In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sts

from tqdm.notebook import tqdm

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Daniil57Ibragimov/Project_Ibragimov-Lebedev/main/new_parameter/Project's_Data.txt", sep = ',')
df.head()

,Тип,Площадь,Этаж,Стоимость,Адрес
0,Студия,10 м²,1/3 эт.,1 049 000 ₽,"Москва, поселение Первомайское, деревня Иванов..."
1,Студия,10 м²,1/3 эт.,1 150 000 ₽,"Москва, поселение Первомайское, деревня Иванов..."
2,Апартаменты-студия,"11,7 м²",1/16 эт.,1 500 000 ₽,"Москва, Юго-Восточный административный округ, ..."
3,Апартаменты-студия,"15,3 м²",1/16 эт.,1 590 000 ₽,"Москва, Волжский бульвар, 19"
4,Апартаменты-студия,13 м²,1/3 эт.,1 650 000 ₽,"Москва, посёлок Первомайское, Центральная улиц..."