In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sts
from tqdm.notebook import tqdm

In [394]:
#Проверка связи с источником
import requests  

url = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&offset=0'
response = requests.get(url)
response

Поскольку код сайта достаточно массивный и запутанный, некоторые данные не представляется возможным вытаскивать напрямую. В связи с этим, создадим функцию, которая будет преобразовывать получаемые строки в нужный нам вид.

In [136]:
def convertor(strings):
    strings = str(strings)
    st = strings.split('>')
    strings = st[1].split('<')[0]
    return strings
#text = '<p class="_5oAgZI Z4r7pA">9 012 283 ₽</p' # Можно запустить код и посмотреть, как он работает на примере
#convertor(text)

'9 012 283 ₽'

Так, следующая ячейка создаст разочарование на лице проверяющего и сильное желание снизить балл за красоту или ещё что-нибудь) 

Собственно, эти ссылки затрагивают все страницы, из которых в дальнейшем будут парситься данные. 

У ассиста возникает логичный вопрос: что ж ты, тупая башка, просто не закинул их в функцию, где спокойно бы менял запросы???
    
    
Объясняю) Дело в том, что маркетологи ДомКлика - ребята с приколом. Когда ты выставляешь фильтр на минимальную цену квартиры, условно, в 10 миллионов рублей, тебе сначала выдадут предложений 300, где цена будет "ОТ 7-9 миллионов". В связи с этим возникает перехлёст данных и вероятность дубликатов. 

Так что для каждой ссылки мы ручками подбирали номер страницы, начиная с которой предложения идут реально от выбранной цены.

Поэтому просим понять и пхростить!

In [408]:
url_0 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&sort=price&sort_dir=asc&offset={}'
url_1 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=6950000&offset={}'
url_2 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=8150000&offset={}'
url_3 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=8950000&offset={}'
url_4 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=9650000&offset={}'
url_5 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=10250000&offset={}'
url_6 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=10850000&offset={}'
url_7 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=11450000&offset={}'
url_8 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=12000000&offset={}'
url_9 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=12550000&offset={}'
url_10 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=13190000&offset={}'
url_11 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=13840000&offset={}'
url_12 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=14510000&offset={}'
url_13 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=15260000&offset={}'
url_14 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=16010000&offset={}'
url_15 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=16920000&offset={}'
url_16 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=17900000&offset={}'
url_17 = 'https://domclick.ru/search?deal_type=sale&category=living&offer_type=flat&offer_type=layout&aids=2299&sale_price__lte=20000000&utm_referrer=https%3A%2F%2Fdomclick.ru%2Fauth%2FloginPage&sort=price&sort_dir=asc&sale_price__gte=18925000&offset={}'

Теперь можем создать функцию от 2-х переменных, с помощью которой будет парсить наши данные:

In [410]:
from bs4 import BeautifulSoup

def get_page(url, p):
    
    url = url.format(p) # переходим по ссылке
    
    response = requests.get(url)
    
    tree = BeautifulSoup(response.content, 'html.parser') # строим дерево
    
    # находи в нём все необходимые параметры
    flats = tree.find_all('span', {'class' : '_6KKuHL iaB6kz'})
    flats_price = tree.find_all('p', {'class' : '_5oAgZI Z4r7pA'})
    flats_adress = tree.find_all('span', {'class' : 'S4xsAI'})
    info = []
    
    for f in range(len(flats)):
        if f%3 == 0:
            f_st_0 = convertor(flats[f])
        elif f%3 == 1:
            f_st_1 = convertor(flats[f])
        elif f%3 == 2:
            info.append({'Тип': f_st_0,
                     'Площадь': f_st_1,
                     'Этаж': convertor(flats[f]),
                    'Стоимость': convertor(flats_price[f//3]),
                         'Адрес': convertor(flats_adress[f//3])})
    return info

In [409]:
get_page(url_17, 380)

[<p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>, <p class="_5oAgZI Z4r7pA">19 000 000 ₽</p>]

[{'Тип': '2-комн. апартаменты',
  'Площадь': '54,29 м²',
  'Этаж': '8/21 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Автомобильный проезд, 4'},
 {'Тип': '1-комн. квартира',
  'Площадь': '37,7 м²',
  'Этаж': '24/29 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Аминьевское шоссе, 4Дк2'},
 {'Тип': '3-комн. квартира',
  'Площадь': '76 м²',
  'Этаж': '3/8 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Бутырская улица, 53к1'},
 {'Тип': '1-комн. квартира',
  'Площадь': '48,1 м²',
  'Этаж': '2/24 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Маршала Тухачевского, 49'},
 {'Тип': '3-комн. квартира',
  'Площадь': '96 м²',
  'Этаж': '3/19 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Московский, 3-й микрорайон, 13'},
 {'Тип': '3-комн. квартира',
  'Площадь': '77 м²',
  'Этаж': '12/17 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Грина, 24'},
 {'Тип': '2-комн. квартира',
  'Площадь': '56 м²',
  'Этаж': '5/6 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Лапина, 3'},
 {'Тип': '4-комн. квартира',
  'Площадь': '108,2 м²',
  'Этаж': '17/17 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Троицк, Нагорная улица, 6'},
 {'Тип': '2-комн. квартира',
  'Площадь': '67 м²',
  'Этаж': '2/5 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Маршала Бирюзова, 41'},
 {'Тип': '1-комн. квартира',
  'Площадь': '35,6 м²',
  'Этаж': '6/15 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Родченко, 2'},
 {'Тип': '3-комн. квартира',
  'Площадь': '64 м²',
  'Этаж': '4/9 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, 8-я улица Соколиной Горы, 7'},
 {'Тип': '3-комн. квартира',
  'Площадь': '73 м²',
  'Этаж': '8/17 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Барышиха, 40к1'},
 {'Тип': '2-комн. квартира',
  'Площадь': '38 м²',
  'Этаж': '4/30 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Петра Алексеева, 14'},
 {'Тип': '3-комн. квартира',
  'Площадь': '68,9 м²',
  'Этаж': '14/16 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Юрьевский переулок, 16к2'},
 {'Тип': '3-комн. квартира',
  'Площадь': '75 м²',
  'Этаж': '3/4 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Малая Ботаническая улица, 13'},
 {'Тип': '2-комн. квартира',
  'Площадь': '49 м²',
  'Этаж': '8/8 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Ленинский проспект, 85'},
 {'Тип': '1-комн. квартира',
  'Площадь': '43,3 м²',
  'Этаж': '7/16 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Шереметьевская улица, 13к1'},
 {'Тип': '3-комн. квартира',
  'Площадь': '63,4 м²',
  'Этаж': '6/9 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, Профсоюзная улица, 85к1'},
 {'Тип': '1-комн. квартира',
  'Площадь': '41 м²',
  'Этаж': '7/27 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, улица Зорге, 9к2'},
 {'Тип': '3-комн. квартира',
  'Площадь': '64 м²',
  'Этаж': '4/9 эт.',
  'Стоимость': '19 000 000 ₽',
  'Адрес': 'Москва, 8-я улица Соколиной Горы, 7'}]

Теперь проходимся циклом по страницам и закидываем найденные данные в списки, которые далее конвертируем в табличку.

Тут второй момент, когда гремаса ассиста переходит в скупую слезу из-за большого количества строк) Конечно, можно было бы всё сделать в одной ячейке, но, во-первых, это тоже не сильно приятно глазу и по стандарту PEP-8, длина строки не может превышать 72 символов, а во-вторых, так легче искать косяки. Не бейте

In [411]:
info_0 = [] 

for p in tqdm(range(0,1981,20)):
    info_0.extend(get_page(url_0,p))

  0%|          | 0/100 [00:00<?, ?it/s]

In [474]:
import pandas as pd

df_0 = pd.DataFrame(info_0)
print(df_0.shape)
df_0.head()

(2000, 5)

,Тип,Площадь,Этаж,Стоимость,Адрес
0,Студия,10 м²,1/3 эт.,1 049 000 ₽,"Москва, поселение Первомайское, деревня Иванов..."
1,Студия,10 м²,1/3 эт.,1 150 000 ₽,"Москва, поселение Первомайское, деревня Иванов..."
2,Апартаменты-студия,"11,7 м²",1/16 эт.,1 500 000 ₽,"Москва, Юго-Восточный административный округ, ..."
3,Апартаменты-студия,"15,3 м²",1/16 эт.,1 590 000 ₽,"Москва, Волжский бульвар, 19"
4,Апартаменты-студия,13 м²,1/3 эт.,1 650 000 ₽,"Москва, посёлок Первомайское, Центральная улиц..."

In [413]:
info_1 = [] 

for p in tqdm(range(120,1981,20)):
    info_1.extend(get_page(url_1,p))

df_1 = pd.DataFrame(info_1)

  0%|          | 0/94 [00:00<?, ?it/s]

In [414]:
info_2 = [] 

for p in tqdm(range(220,1981,20)):
    info_2.extend(get_page(url_2,p))
    
df_2 = pd.DataFrame(info_2)

  0%|          | 0/89 [00:00<?, ?it/s]

In [415]:
info_3 = [] 

for p in tqdm(range(280,1981,20)):
    info_3.extend(get_page(url_3,p))

df_3 = pd.DataFrame(info_3)

  0%|          | 0/86 [00:00<?, ?it/s]

In [416]:
info_4 = [] 

for p in tqdm(range(300,1981,20)):
    info_4.extend(get_page(url_4,p))
    
df_4 = pd.DataFrame(info_4)

  0%|          | 0/85 [00:00<?, ?it/s]

In [417]:
info_5 = [] 

for p in tqdm(range(340,1981,20)):
    info_5.extend(get_page(url_5,p))
df_5 = pd.DataFrame(info_5)

  0%|          | 0/83 [00:00<?, ?it/s]

In [418]:
info_6 = [] 

for p in tqdm(range(380,1981,20)):
    info_6.extend(get_page(url_6,p))
    
df_6 = pd.DataFrame(info_6)

  0%|          | 0/81 [00:00<?, ?it/s]

In [419]:
info_7 = [] 

for p in tqdm(range(340,1981,20)):
    info_7.extend(get_page(url_7,p))
df_7 = pd.DataFrame(info_7)

  0%|          | 0/83 [00:00<?, ?it/s]

In [420]:
info_8 = [] 

for p in tqdm(range(360,1981,20)):
    info_8.extend(get_page(url_8,p))
df_8 = pd.DataFrame(info_8)

  0%|          | 0/82 [00:00<?, ?it/s]

In [421]:
info_9 = [] 

for p in tqdm(range(360,1981,20)):
    info_9.extend(get_page(url_9,p))
df_9 = pd.DataFrame(info_9)

  0%|          | 0/82 [00:00<?, ?it/s]

In [422]:
info_10 = [] 

for p in tqdm(range(360,1981,20)):
    info_10.extend(get_page(url_10,p))
df_10 = pd.DataFrame(info_10)

  0%|          | 0/82 [00:00<?, ?it/s]

In [423]:
info_11 = [] 

for p in tqdm(range(320,1981,20)):
    info_11.extend(get_page(url_11,p))
df_11 = pd.DataFrame(info_11)

  0%|          | 0/84 [00:00<?, ?it/s]

In [424]:
info_12 = [] 

for p in tqdm(range(340,1981,20)):
    info_12.extend(get_page(url_12,p))
df_12 = pd.DataFrame(info_12)

  0%|          | 0/83 [00:00<?, ?it/s]

In [425]:
info_13 = [] 

for p in tqdm(range(320,1981,20)):
    info_13.extend(get_page(url_13,p))
df_13 = pd.DataFrame(info_13)

  0%|          | 0/84 [00:00<?, ?it/s]

In [426]:
info_14 = [] 

for p in tqdm(range(300,1981,20)):
    info_14.extend(get_page(url_14,p))
df_14 = pd.DataFrame(info_14)

  0%|          | 0/85 [00:00<?, ?it/s]

In [427]:
info_15 = [] 

for p in tqdm(range(280,1981,20)):
    info_15.extend(get_page(url_15,p))
df_15 = pd.DataFrame(info_15)

  0%|          | 0/86 [00:00<?, ?it/s]

In [428]:
info_16 = [] 

for p in tqdm(range(260,1981,20)):
    info_16.extend(get_page(url_16,p))
df_16 = pd.DataFrame(info_16)

  0%|          | 0/87 [00:00<?, ?it/s]

In [429]:
info_17 = [] 

for p in tqdm(range(240,1981,20)):
    info_17.extend(get_page(url_17,p))
df_17 = pd.DataFrame(info_17)

  0%|          | 0/88 [00:00<?, ?it/s]

In [430]:
df_17.tail()

,Тип,Площадь,Этаж,Стоимость,Адрес
1755,3-комн. квартира,"59,7 м²",1/5 эт.,20 000 000 ₽,"Москва, Ботаническая улица, 5"
1756,2-комн. квартира,"60,8 м²",4/22 эт.,20 000 000 ₽,"Москва, 3-я Хорошёвская улица, 17А"
1757,2-комн. квартира,52 м²,13/17 эт.,20 000 000 ₽,"Москва, улица Борисовские Пруды, 13к1"
1758,3-комн. квартира,"78,5 м²",7/13 эт.,20 000 000 ₽,"Москва, Южнобутовская улица, 71"
1759,1-комн. квартира,"41,5 м²",4/9 эт.,20 000 000 ₽,"Москва, Автозаводская улица, 23с64"

Ура, мучения закончились, встаньте из-за стола, сделайте разминку для глаз, и продолжим)

Далее мы объединяем все таблички в одну и сохраняем её в отдельный файл, ибо ответ "200" выдаётся вообще не всегда:/

In [431]:
df = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17])
df.reset_index(drop=True, inplace=True)
df.to_csv('Project_data.txt', sep=',', index=False)
df

,Тип,Площадь,Этаж,Стоимость,Адрес
0,Студия,10 м²,1/3 эт.,1 049 000 ₽,"Москва, поселение Первомайское, деревня Иванов..."
1,Студия,10 м²,1/3 эт.,1 150 000 ₽,"Москва, поселение Первомайское, деревня Иванов..."
2,Апартаменты-студия,"11,7 м²",1/16 эт.,1 500 000 ₽,"Москва, Юго-Восточный административный округ, ..."
3,Апартаменты-студия,"15,3 м²",1/16 эт.,1 590 000 ₽,"Москва, Волжский бульвар, 19"
4,Апартаменты-студия,13 м²,1/3 эт.,1 650 000 ₽,"Москва, посёлок Первомайское, Центральная улиц..."
...,...,...,...,...,...
30795,3-комн. квартира,"59,7 м²",1/5 эт.,20 000 000 ₽,"Москва, Ботаническая улица, 5"
30796,2-комн. квартира,"60,8 м²",4/22 эт.,20 000 000 ₽,"Москва, 3-я Хорошёвская улица, 17А"
30797,2-комн. квартира,52 м²,13/17 эт.,20 000 000 ₽,"Москва, улица Борисовские Пруды, 13к1"
30798,3-комн. квартира,"78,5 м²",7/13 эт.,20 000 000 ₽,"Москва, Южнобутовская улица, 71"
30799,1-комн. квартира,"41,5 м²",4/9 эт.,20 000 000 ₽,"Москва, Автозаводская улица, 23с64"